h1 {
  color: darkgoldenrod;
  font-family: cursive;
}
.tag {
  color: #ff00ff;
  border-color: rosybrown;
  border-width: thin;
  border-style: solid;
  padding: 3px;
  margin:  2px;
}
.marked-tag {
  background-color: rosybrown;
  border-color: black;
  color: white;
  border-width: thin;
  border-style: solid;
  padding: 3px;
  margin:  2px;
}
.kata {
  margin: 20px;
}
.kata-title {
  font-size: x-large;
}
