h1 {
  color: green;
  font-family: cursive;
}
a {
  color: black;
}
.tag {
  color: green;
  border-color: dimgray;
  border-width: thin;
  border-style: solid;
  padding: 3px;
  margin:  2px;
}
.marked-tag {
  background-color: lightgreen;
  border-color: dimgray;
  color: green;
  border-width: thin;
  border-style: solid;
  padding: 3px;
}
.kata {
  padding: 10px;
}
.kata-title {
  font-size: x-large;
}
div {
  margin:  5px;
}